@use "breakpoints";

.container {
  margin: 0 auto;
  width: 100%;

  @include breakpoints.phone() {
    max-width: 90vw;
  }
  @include breakpoints.phone-up() {
    max-width: breakpoints.$phone - (20px * 2);
  }
  @include breakpoints.tablet-up() {
    max-width: breakpoints.$tablet - (30px * 2);
  }
  @include breakpoints.desktop-up() {
    max-width: breakpoints.$desktop;
  }
}

button:disabled,
button[disabled]{
  background-color: rgba(239, 239, 239, 0.4);
  color: rgba(16, 16, 16, 0.4);
  border: rgba(118, 118, 118, 0.2) 1px solid;
  cursor: default;
}