@use "variables";
@use "breakpoints";
@use "reset";
@use "components/menu";
@use "components/jumbotron";
@use "components/calc-dose";
@use "components/calc-half-life";
@use "components/push-contact";
@use "components/footer";
@use "components/nomogram";
@use "components/support";
@use "utilities";
@use "global";

/*- 1rem = 10px - but default font size stay unchanged -*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: variables.$font;
  font-size: 1.6rem;
  font-weight: 500;
  color: variables.$primary;
}
